@import "about";
@import "registration";

body {
	margin-top: 0px;
	text-rendering: optimizeLegibility;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
        font-family: 'Work Sans', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    > .navbar {
		box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
		opacity: 1;
    }
}

h2 {
    font-size: 30px;
    color: #13022C;
    font-weight: 600;
    line-height: 1.25;
}

.btn-primary {
	background: #db366a;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 0px 0px rgba(84, 83, 88, 1);
    transition: background 0.15s ease-in;

   	&:hover {
   		background: darken(#db366a, 15%);
   	}
}

.navbar-default {
	border: none;
    background-color: #fFF;
    height: 60px;
    line-height: 60px;

	.navbar-brand {
		img {
			float: left;
		    height: 45px;
		    margin-top: -8px;
		    margin-right: 15px;
		}

		.logo-title {
			height: 24px;
	    	margin: 0;
		}

	}

	.navbar-btn {
		margin: -4px 0 0 15px;
	}

	.navbar-nav > li > a {
	    color: #363d3c;
	    line-height: 30px;
		padding: 10px 10px;

	    &:hover, &:focus {
	    	color: #000;
	    }
	}
}

.hello {
	margin-top: 60px;
    position: relative;
    background: url(/images/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    position: relative;
    overflow: hidden;

    &:before {
	    content: "";
	    position: absolute;
	    width: 100vw;
	    top: 0;
	    bottom: 0;
	    z-index: -1;
	    background: #fff;
    }

    &:after {
	    content: "";
	    position: absolute;
	    width: 100vw;
	    top: 0;
	    bottom: 19px;
	    z-index: -1;
	    background: #bce784;
	    border-bottom: 7px solid #dc396c;
    }

    .container {
		position: relative;
		color: #fff;
		text-shadow: 0px 0px 8px rgba(0,0,0, 0.8);

	    h1 {
	    	margin: 15vh 0 50px;
	    }

	    .btn-register {
	    	text-shadow: none;
			background: #da4d5b;
			border: none;
			font-size: 26px;
			height: 60px;
			line-height: 60px;
			padding: 0 30px;
			transition: background 0.35s ease-in;

			&:hover {
				background: darken(#da4d5b, 15%);
			}
	    }
    }

}
.panel {
	.panel-default {
		.digital {
			background-color: greenyellow;
		}
		.analog {
			background-color: lightblue;
		}
		.devrandom {
			background-color: palevioletred;
		}
	}
}
.page {
	margin-top: 50px;
}

.jumbotron {
	position: relative;
	text-align: center;
	margin-top: 0px;
	max-height: 100vh;

	.container {
		padding-left: 50px;
	}

	h1 {
		background: none;
		opacity: 1;
		padding: 0;
		margin: 0;
	}

	h2 {
		font-size: 2.5em;
		font-weight: 300;
		background: none;
		color: white;
		opacity: 1;
		margin: 15px 0 0;
		padding: 0;
	}

	.jumbotron-contents {
		padding: 100px 50px;
	}

	.date {
		margin: 50px 0;
	}

	.carousel {
		&:before {
			background: #000;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 60%;
			height: 100%;
			z-index: 1;
			opacity: 0.5;
		}
	}

	.about-jumper {
		color: #fff;
		opacity: 1;
		z-index: 1;
		position: absolute;
		bottom: 20px;

		span {
			display: block;
			font-weight: 300;
			margin: 5px;
		}

		.glyphicon {
			font-size: 25px;
		}
	}
}

.event-details {
	padding-bottom: 0;

	.cta {
	    margin-top: 40px;
	}
}

.hackercamp {
	background: #85d5d2;

	h2 {
		margin: 50px 15px 10px;
		font-weight: 600;
	}

	p, li {
		font-size: 16px;
	}

	.hacker {
		margin-bottom: 60px;
	}

	.desc {
		p {
			margin: 40px 0;
		}
	}
}

.participation {
    background: #ffffff;
    text-align: center;
    padding: 40px 0 60px;

	h2 {
		font-weight: 600;
	}

	h3 + p {
		padding: 0 15px;
	}

	p {
		font-size: 16px;
	}

	img {
	    margin-top: 50px;
	    width: 240px;
	    height: 220px;
	    display: inline-block;
	    object-fit: contain;
	}
}

.where {
	padding: 0;
	position: relative;

	.map {
		height: 80vh;

		iframe {
			height: 100%;
		}
	}

	.container {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;

		.overlay {
			background: #00a0b0;
			pointer-events: all;
			color: #fff;
			opacity: 0.85;
			margin-top: 50px;
			padding: 50px;
    		font-size: 14px;
    		box-shadow: 3px 3px 0 0 #ffffff;

			h2 {
				color: #fff;
				margin: 0;
				font-weight: 400;
				margin: 0 0 15px;
			}

			p {
				font-size: 16px;
			}

			a {
				color: #fff;
				font-weight: 600;
			}
		}
	}
}

.about {
    background: #fff;
    margin: 0;
    padding: 50px 0 70px;

	.wrapper {

		.visual {
		    background: url(/images/about-visual.png);
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center top;
		    width: 520px;
		    height: 340px;
		    position: relative;

		    &:before {
			    content: "";
			    position: absolute;
			    width: 50vw;
			    top: 279px;
			    bottom: 13px;
			    background: #e7e6eb;
			    right: 100%;
		    }

		    &:after {
				content: "";
				position: absolute;
				width: 50vw;
				top: 290px;
				bottom: 46px;
				background: #79787d;
				right: 100%;
		    }
		}

		h2 {
			text-align: left;
			margin: 0 0 15px;
		}

		.btn-register {
			font-size: 25px;
			font-weight: 300;
			padding: 0 40px;
			line-height: 46px;
		}

		.cta {
			display: inline-block;
			text-shadow: none;
			background: #da4d5b;
			border: none;
			font-size: 26px;
			height: 60px;
			line-height: 60px;
			padding: 0 30px;
			transition: background 0.35s ease-in;

			&:hover {
				background: darken(#da4d5b, 15%);
			}
		}

		.cta-container {
			margin-top: 30px;
		}
	}
}

.gallery {
	background: #fff;

	h2 {
		margin: 80px 0 30px;
	}

	.container {
		padding: 0;
		width: auto;
		overflow: hidden;
	}

	.list {
		margin: 0 -5px;
	}

	img {
	    height: 250px;
	    width: calc(25% - 10px);
	    float: left;
	    object-fit: cover;
	    margin: 5px;
	}
}

.what {
	h1 {
		margin: 0 0 40px;
	}

	p {
		font-size: 17px;
		font-weight: 300;
		letter-spacing: 0.5px;
	}
}

.about-page {
}

.schedule-page {

	.days {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
		

	.slots {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		color: #fff;

		.day a {
		    display: block;
		    background: rgba(140, 193, 82, 0.5);
		    padding: 5px;
		    box-sizing: border-box;
		    color: #434a54;
		    margin: 5px 5px 0 0;

		    &.busy {
		    	background: hsla(354, 67%, 56%, 0.26);
		    	pointer-events: none;
		    }

		    &.current {
		    	background: #428bca;
		    	color: #fff;

		    	&:hover {
					background: darken(#428bca, 15%);
		    	}
		    }

		    &:hover {
		    	background: #8cc152;
		    }
		}
	}
}

[data-action="timetablePretty"] {
	// background: #191819;
	background: #434a54;

	article {
		padding: 0;
	}

	.schedule {
		margin-top: 15px;
		padding: 0 5px;

		.nav {
			ul {
				display: flex;
			    justify-content: space-between;
			    list-style: none;
			    padding: 0;
			    line-height: 60px;

			    li {
					border-bottom: 3px solid #da4353;
					background: rgba(255,255,255, 0.2);
					box-sizing: border-box;

					&.active {
						background: #da4353;
					}

			    	a {
					    color: #fff;
					    padding: 0 10px;
					    line-height: 60px;
					    display: inline-block;

					    &.fav {
							min-width: 60px;
							text-align: center;
							font-size: 22px;
					    }
			    	}
			    }
			}
		}

		h2 {
			padding: 0 0 5px;
			color: #fff;
			font-size: 22px;
			font-weight: 400;
		}

		.talk {
			color: #fff;
			text-align: left;
			margin-bottom: 15px;
			height: auto;
			padding: 0 10px;

			h3 {
				margin: 0;
			}

			.avatar {
				img {
					height: auto;
					border: 0;
				}
			}

			.meta {
				padding: 0;

				h1 {
					margin: 0;
				}

				.author {
					margin: 3px 0;
					line-height: 1;
				}

				.track {
					line-height: 1;
					color: #da4353;
				}
			}

			.time {
				cursor: pointer;
				transition: opacity 0.15 ease-in;

				&.active {
					color: #da4353;

					i {
						color: #da4353;
					}
				}

				&:hover {
					opacity: 0.8;
				}

				span {
					font-size: 18px;
				}

				i {
					color: #fff;
					display: block;
				    text-align: center;
				    font-size: 24px;
				    margin: 5px 0;
				    font-style: normal;
				}
			}
		}
	}
}

.welcome-page {
	h2 {
		padding: 0;
    	line-height: 32px;
	}
}

.sponsors {

	h2 {
		margin-top: 15px;
		margin-bottom: 25px;
		font-size: 22px;
		font-weight: 600;
	}

	.sponsor {
	    margin: 0 0 30px;
	    align-items: center;
	    display: flex;
	    height: 100px;
	}

	.gold {
	    background: #fec10e;
	    margin-right: 5%;
	    margin-left: 3%;
	    box-shadow: 3px 3px 0 0 #db366a;
	}

	.gold .sponsor {
		max-width: 220px;
		margin: 90px auto;

		img {
			max-height: initial;
		}
	}

	.bronze .sponsor {
	    max-width: 175px;
	    margin: 90px auto;
	}


	img {
	    max-height: 80px;
	    max-width: 100%;
	    margin: 0 auto;
	}
}

@media only screen and (max-width : 768px) {

	.hello {
		background-size: contain;
		height: 30vh;
		background-image: url(/images/hero-bg-min.png);
		background-color: #fff;
		margin: 60px 40px 0;

		&:before {
		    position: fixed;
		    left: 0;
		    right: 0;
		}

		&:after {
			display: none;
		}
	}

	.about .wrapper .cta-container {
	    text-align: center;
	}

	.navbar-default {
		height: auto;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height: none;
	}

	.navbar-default .navbar-toggle {
		margin: 13px 10px;
	}

	.navbar-default .navbar-brand {
		.logo-title {
			margin: 2px 0;
			width: 200px;
			height: auto;
		}
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #363d3c;
    	line-height: 30px;
	}

	.jumbotron {
		padding-top: 50px;

		.carousel {
			&:before {
				display: none;
			}
		}

		.jumbotron-contents {
			padding: 0 0 50px;
		}

		.container {
			padding-left: 0;
		}

		h1 {
			display: none;
		}

		h2, p {
			color: inherit;
		}

	}

	.about {
		.wrapper {
			padding: 0 50px;
    		width: 100%;
		}
	}

	.hackercamp {
		.desc {
			p {
				margin-top: -20px;
			}
		}
	}

	.participation {
		h3 {
			font-size: 22px;
    		font-weight: 500;
		}
	}

	.gallery {
		img {
			height: 150px;
	    	width: calc(50% - 10px);

	    	&:nth-child(n + 9) {
	    		display: none;
	    	}
		}
	}

	.where {
		.container {
			position: initial;
			transform: none;
			margin: 0;

			.overlay {
				margin: 0;
			}
		}
	}

	.sponsors {
		.gold {
			margin-left: 0;
    		margin-right: 0;
    		margin-bottom: 30px;

    		h2 {
				margin: 0;
				padding-top: 20px;
    		}

			.sponsor {
				margin: 0 auto;
				height: auto;

				img {
					max-height: 150px;
				}
			}
		}

		.bronze {
			.sponsor {
				margin: 0 auto;
			}
		}

	}
}

@media only screen and (min-width : 1200px) {
	.jumbotron {
		height: 850px;

		.carousel {
			height: 850px;
		}
	}
}
