/web/bundles/
/web/bootflat
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
app/cache/.gitkeep
app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/web/css/compiled
.idea/
/web/js/compiled
/.docker/data/*