<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.title }} &mdash; {% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="container">

        <div class="masthead clearfix">
            <a href="{{ site.url }}/" class="troll" title="{{ site.title }}"><img src="{{ site.url }}/assets/img/troll.png" alt="" /></a>
            <a href="{{ site.url }}/" class="title" title="{{ site.title }}"><img src="{{ site.url }}/assets/img/title.png" alt="" /></a>
            
            <div class="clearfix"></div>

            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container">
                    {% include '_navigation.html' %}
                </div>
              </div>
            </div><!-- /.navbar -->
        </div>
  </div>

      <div class="content">
        <div class="container">
          <div class="row-fluid">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
          </div>
          <br>
        </div>
      </div>

      <div class="container">
          <div class="footer">
            <p>&copy; <a href="{{ site.url }}/" title="{{ site.title }}"><img src="{{ site.url }}/assets/img/title-tiny.png" alt=""/></a></p>
          </div>
          <!-- 
          <div class="camp">
            <img src="assets/img/camp.jpg" alt=""/>
          </div>
        -->
    </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap-tab.js"></script>
        <script src="{{ site.url }}/assets/js/app.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </body>
</html>
