{% extends "default" %}
{% block content_wrapper %}
    
    <div class="span8">
      {% block content %}{% endblock %}
      {% block html %}{% endblock %}
    </div>
    <div class="span4">
      <h3>Rėmėjai</h3>
      
      <div class="sponsors sponsors-small">
          <a href="http://www.visma.com/" title="Visma"><img src="{{ site.url }}/assets/img/partner/visma.png" alt=""/></a>
          <a href="http://www.nfq.lt/" title="NFQ"><img src="{{ site.url }}/assets/img/partner/nfq.png" alt=""/></a>
          <a href="http://www.eskimi.com/" title="Eskimi"><img src="{{ site.url }}/assets/img/partner/eskimi.png" alt=""/></a>
          <br>
          <a href="http://www.estina.com/" title="Web development"><img src="{{ site.url }}/assets/img/partner/estina.png" alt=""/></a>
          <br>
          <a href="http://www.akl.lt/" title="Atviras Kodas Lietuvai"><img src="{{ site.url }}/assets/img/partner/akl.png" alt=""/></a>
        {#
        <ul class="">
          <li>
            <a href="#">draugas Pawka</a>
          </li>
          <li>
            <a href="#">draugas Kuusas</a>
          </li>
          <li>
            <a href="#">draugas Darles</a>
          </li>
        </ul>
        #}
      </div>
   </div>

{% endblock %}
