{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<!--===============================-->
<!--== Features ===================-->
<!--===============================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>Poilsiavietė "Verubė"</h3>
                <span>10 km nuo Trakų</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>Liepos 25-27</h3>
                <span>Nuo penktadienio iki sekmadienio</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-microphone"></div>
            <div class="info">
                <h3>Pranešimai</h3>
                <span>20 min trukmės pristatymai</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Dirbtuvės</h3>
                <span>Įvairūs užsiėmimai</span>
            </div>
        </div>
    </div>
</section>
<!--==========-->



<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="schedule" class="row">
    <div class="col-md-7 col-sm-12">
        <div class="content-tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Penktadienis</a></li>
              <li><a href="#tab2" data-toggle="tab">Šeštadienis</a></li>
              <li><a href="#tab3" data-toggle="tab">Sekmadienis</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>13:00</time>
                                <h4 class="accordion-title">Stovyklos įkūrimas</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Atvykstam įsirengti stovyklą. Susivežam daiktus, statom palapines, ruošiam įrangą, užkuriam laužus!
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>19:00</time>
                                <h4 class="accordion-title">Bendravimas</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Užkuriam pirtį, maudomės, susipažįstam ir bendraujam!
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="tab2">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:00</time>
                                <h4 class="accordion-title">Oficialus atidarymas</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Festivalio atidarymas vienoje iš scenų.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:30</time>
                                <h4 class="accordion-title">Pranešimai</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Dalyvių pranešimai bus skaitomi keliose scenose
                                vienu metu. Planuojame turėti 2 ar 3 palapines,
                                skirtas pranešimams. Jų kiekis priklausys nuo
                                dalyvių skaičiaus. Vienam pranešimui pristatyti
                                skiriama 20 min + 10 min klausimams ir
                                diskusijoms.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>14:00</time>
                                <h4 class="accordion-title">Pietų pertrauka</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Dviejų valandų pietų pertrauka, skirta papietauti ir pabendrauti.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>16:00</time>
                                <h4 class="accordion-title">Pranešimai</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Tęsiamas pranešimų pristatymas.
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="tab3">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:00</time>
                                <h4 class="accordion-title">Dirbtuvės ir pramogos</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Sekmadienį skirsim užsiėmimams, kurių trukmė
                                gali siekti keletą valandų. Dirbtuvių sąrašas
                                bus paskelbtas vėliau, kartu su namų darbais,
                                norintiems jose dalyvauti.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>17:00</time>
                                <h4 class="accordion-title">Apdovanojimai</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Apdovanojimai ir uždarymo ceremonija.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <h2>No Trolls Allowed</h2>
        <p>
            Po atviru dangumi vykstantis renginys, siekiantis suburti
            įvairių pomėgių turinčius žmones. Čia laukiami progamuotojai, įvairaus
            plauko geek'ai, mokslininkai, konstruktoriai, artistai, menininkai ir
            kitų sričių specialistai, galintys ir norintys pasidalinti savo
            žiniomis. Norite sudalyvauti? Pasiimkite savo šeimyną, maisto, gėrimų,
            bei palapinę viskam sutalpinti ir atvažiuokite!
        </p>
    </div>
</section>
<!--==========-->

{{ render(controller('EstinaHomeBundle:Default:faq', {})) }}
{{ render(controller('EstinaHomeBundle:Default:partners', {})) }}
{{ render(controller('EstinaHomeBundle:Default:register', {})) }}
{{ render(controller('EstinaHomeBundle:Default:speakers', {})) }}

{% endblock %}
