{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<!--===============================-->
<!--== Features ===================-->
<!--===============================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>Poilsiavietė "Verubė"</h3>
                <span>10 km nuo Trakų</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>Liepos 25-27</h3>
                <span>Taip, šiemet!</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-microphone"></div>
            <div class="info">
                <h3>Pranešimai</h3>
                <span>20 min trukmės pristatymai</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Dirbtuvės</h3>
                <span>Įvairūs užsiemimai</span>
            </div>
        </div>
    </div>
</section>
<!--==========-->



<!--===============================-->
<!--== Schedule ===================-->
<!--===============================-->
<section id="schedule" class="row">
    <div class="col-md-7 col-sm-12">
        <div class="content-tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Penktadienis</a></li>
              <li><a href="#tab2" data-toggle="tab">Šeštadienis</a></li>
              <li><a href="#tab3" data-toggle="tab">Sekmadienis</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>13:00</time>
                                <h4 class="accordion-title">Stovyklos įkūrimas</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Atvykstam įsirengti stovyklą. Suivežam daiktus, statom palapines, ruošiam įrangą, užkuriam laužus, susipažįstam ir bendraujam!
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="tab2">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:00</time>
                                <h4 class="accordion-title">Oficialus atidarymas</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Festivalio atidarymas vienoje iš scenų.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:30</time>
                                <h4 class="accordion-title">Pranešimai</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Dalyvių pranešimai bus skaitomi keliose scenose
                                vienu metu. Planuojame turėti 2 ar 3 palapines,
                                skirtas pranešimams. Jų kiekis priklausys nuo
                                dalyvių skaičiaus. Vienam pranešimui pristatyti
                                skiriama 20 min + 10 min klausimams ir
                                diskusijoms. Pranešimai baigiami skaityti tada,
                                kai nebebus norinčių.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:00</time>
                                <h4 class="accordion-title">Pietų pertrauka</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Dviejų valandų pietų pertrauka, skirta papietauti ir pabendrauti.
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="tab3">
                    <ul class="accordion-group">
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>10:00</time>
                                <h4 class="accordion-title">Dirbtuvės ir pramogos</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Sekmadienį skirsim užsiemimams, kurių trukmė
                                gali siekti keletą valandų. Dirbtuvių sąrašas
                                bus paskelbtas vėliau, kartu su namų darbais,
                                norintiems jose dalyvauti.
                            </div>
                        </li>
                        <li class="accordion">
                            <a class="accordion-heading">
                                <time>17:00</time>
                                <h4 class="accordion-title">Apdovanojimai</h4>
                                <span class="fa fa-plus-circle pull-right"></span>
                            </a>
                            <div class="accordion-body">
                                Apdovanojimai ir uždarymo ceremonija.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <h2>Programa</h2>
        <p>
            Renginys vyks visą savaitgalį, tad galite atvykti jums patogiu
            metu. Tik nepamirškite pagrindinės taisyklės - norintys dalyvauti
            renginyje privalo pristatyti pranešimą!
        </p>
        <ul>
            <li>Liepos 25 d. - Atvykstam, statom palapines, susipažįstam.</li>
            <li>Liepos 26 d. - Oficialus atidarymas. Skaitomi pranešimai.</li>
            <li>Liepos 27 d. - Dirbtuvių diena. Apdovanojimai. Uždarymas. Ardom palapines.</li>
        </ul>
    </div>
</section>
<!--==========-->


<!--===============================-->
<!--== Subscribe Form =============-->
<!--===============================-->
<section id="subscribe" class="row">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Subscribe</h2>
            <h4>Awesome section description goes here.</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <form id="subscribe-form" method="post" class="form">
            <div class="col-sm-9 col-xs-12">
                <input name="subscriber" id="subscriber" type="email" placeholder="Email" required>
            </div>
            <div class="col-sm-3 col-xs-12">
                <input type="submit" value="Subscribe" name="submit">
            </div>
            <p class="form-notification" style="display: none;">Done!</p>
        </form>
    </div>
    <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eaque dolorem fugiat ullam ea! Perspiciatis, ipsum ea possimus voluptatem sequi amet harum dolores commodi eveniet earum est expedita error ab.</p>
    </div>
</section>
<!--==========-->

<!--===============================-->
<!--== FAQ ========================-->
<!--===============================-->
<section id="faq" class="row">
    <div class="col-sm-12">
        <div class="section-header text-right">
            <h2>F.A.Q</h2>
            <h4>Awesome section description goes here.</h4>
        </div>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->



<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->
<section id="partners" class="row">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Rėmėjai</h2>
            <h4>Renginio rėmėjų sąrašas, be kurių No Trolls Allowed 2014 nebūtų įvykęs</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div id="carousel" class="owl-carousel">
            <div class="item"><img src="images/demo/partners/logo-01.png" alt="Logo 1"></div>
            <div class="item"><img src="images/demo/partners/logo-02.png" alt="Logo 2"></div>
            <div class="item"><img src="images/demo/partners/logo-03.png" alt="Logo 3"></div>
            <div class="item"><img src="images/demo/partners/logo-04.png" alt="Logo 4"></div>
            <div class="item"><img src="images/demo/partners/logo-05.png" alt="Logo 5"></div>
            <div class="item"><img src="images/demo/partners/logo-06.png" alt="Logo 6"></div>
        </div>
        <div class="owl-carousel-navigation">
            <a class="owl-btn prev fa fa-angle-left"></a>
            <a class="owl-btn next fa fa-angle-right"></a>
        </div>
    </div>
</section>
<!--==========-->

{{ render(controller('EstinaHomeBundle:Default:register', {})) }}

{% endblock %}
