<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->
<section id="partners" class="row">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Rėmėjai</h2>
            <h4>Renginio rėmėjų ir draugų sąrašas, be kurių No Trolls Allowed 2014 neįvyktų.</h4>
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <h3>Mecenatas</h3>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.visma.lt/"><img src="images/sponsors/visma.png" alt="Visma"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-12 text-center">
        <h3>Pagrindiniai rėmėjai</h3>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.nfq.lt/"><img src="images/sponsors/nfq.png" alt="NFQ"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.knygos.lt"><img src="images/sponsors/knygos.png" alt="Knygos.lt"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-12 text-center">
        <h3>Rėmėjai</h3>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.estina.com/"><img src="images/sponsors/estina.png" alt="Estina"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.ito.lt"><img src="images/sponsors/ito.png" alt="iTo"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.raudonuplytu.lt"><img src="images/sponsors/rp.png" alt="Raudonų Plytų alaus dirbtuvės"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-12 text-center">
        <h3>Draugai</h3>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.makerspace.lt/"><img src="images/sponsors/makerspace.png" alt="Kaunas Makerspae"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.darysiupats.lt/"><img src="images/sponsors/darysiupats.png" alt="DarsysiuPats.lt"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="https://www.facebook.com/Rikis.lt"><img src="images/sponsors/rikis.png" alt="Rikis"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.bpti.lt"><img src="images/sponsors/bpti.png" alt="Baltijos Pažangiųjų Technologijų Instituas"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.padirbtuves.lt/"><img src="images/sponsors/padirbtuves.png" alt="Padirbtuvės"></a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->
