<!--===============================-->
<!--== Speakers ===================-->
<!--===============================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Pranešimai</h2>
            <h4>Bus papildyta</h4>
        </div>
    </div>
    {% for talk in talks %}
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ talk.email|gravatar }}" alt="{{ talk.speaker }}">
                </div>								
                {#
                <div class="speaker-contacts">
                    <a href="#" class="contact pull-left fa fa-facebook"></a>
                    <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
                #}
            </div>
            <h3>{{ talk.speaker }}</h3>
            <p>{{ talk.title }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<!--==========-->
