{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<h1>Pranešimai</h1>
{% for track in tracks  %}
    <h2>{{ track.title }}</h2>
    <p>{{ track.description }}</p>
{% endfor %}
{% endblock %}
