{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<h1>{{ talk.title }}</h1>
<h2>{{ talk.track.title }}</h2>
<p>
{{ talk.description|markdown }}
</p>

<div>
    {{ talk.user }}
</div>
{% endblock %}
