{% extends "EstinaHomeBundle::page-wide.html.twig" %}

{% block content %}

<div class="schedule">
    
    <div class="nav">
        <ul>
            <li><a data-track="1" href="">Digital</a></li>
            <li><a data-track="2" href="">Analog</a></li>
            <li><a data-track="3" href="">/dev/random</a></li>
            {# <li><a data-track="4" href="">Workshops</a></li> #}
            <li><a data-track="fav" class="fav" href="">★</a></li>
        </ul>
    </div>

    <div class="talks"></div>

</div>

<script id="talk-template" type="text/html">
    <div class="row talk" data-id="{id}">
        
        <div class="col-xs-2 avatar">
            <img src="{authorAvatar}" alt="">
        </div>

        <div class="col-xs-8 meta">
            <h3>{title}</h3>
            <div class="author">{author}</div>
            <div class="track">{trackTitle}</div>
        </div>

        <div class="col-xs-2 time">
            <span>{time}</span>
            <i>★</i>
        </div>
        
    </div>
</script>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='/js/schedule.js' async defer></script>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js')
                .then((reg) => {
                  console.log('Service worker registered.', reg);
                });
          });
        }
    </script>
{% endblock %}
