parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            lt
    secret:            ThisTokenIsNotSoSecretChangeIt
    admin_email:       ~
    dev_email:         ~

    slack_api_token:   ~
    registration_deadline: '2017-07-17 23:59:59'

    social_hashtag_enabled: true
    social_hashtag_exclude_users: ['detstriathlon', 'matt_hauser', '']
    twitter_oauth_access_token: ~
    twitter_oauth_access_token_secret: ~
    twitter_consumer_key: ~
    twitter_consumer_secret: ~
    instagram_client_id: ~
