parameters:
    database_driver:   pdo_mysql
    database_host:     vagrant
    database_port:     ~
    database_name:     ntacamp
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            lt
    secret:            ThisTokenIsNotSoSecretChangeIt
    admin_email:       ~
    dev_email:         ~

    slack_api_token:   ~
    registration_deadline: '2019-07-07'
    registration_start: '2019-04-01'
    ntacamp_date: 'July 24-28'

    social_hashtag_enabled: true
    social_hashtag_exclude_users: ['detstriathlon', 'matt_hauser', '']
    twitter_oauth_access_token: ~
    twitter_oauth_access_token_secret: ~
    twitter_consumer_key: ~
    twitter_consumer_secret: ~
    instagram_client_id: ~
