<!DOCTYPE html>
<html lang="lt">
	<head prefix="og: http://ogp.me/ns#">
		<title>No Trolls Allowed 2014</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--== Google Fonts ==-->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
		<!--== CSS Files ==-->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
		<link href="css/animate.min.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
		<link href="css/flexslider.css" rel="stylesheet" media="screen">
		<link href="css/fancySelect.css" rel="stylesheet" media="screen">
		<link href="css/responsive.css" rel="stylesheet" media="screen">
		<link href="css/nta.css" rel="stylesheet" media="screen">

		<!--== FB meta ==-->
        <meta property="og:url" content="{{ url('home') }}">
        <meta property="og:title" content="No Trolls Allowed 2014">
        <meta property="og:description" content="Pirmas ir vienintelis hackercamp'as Lietuvoje! Po atviru dangumi vykstantis renginys, siekiantis suburti įvairių pomėgių turinčius žmones. Čia laukiami progamuotojai, įvairaus plauko geek'ai, mokslininkai, konstruktoriai, artistai, menininkai ir kitų sričių specialistai, galintys ir norintys pasidalinti savo žiniomis. Norite sudalyvauti? Pasiimkite savo šeimyną, maisto, gėrimų, bei palapinę viskam sutalpinti ir atvažiuokite!">
        <meta property="og:image" content="{{ asset('images/troll-medium.png') }}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="310">
        <meta property="og:image:height" content="300">
        <meta property="NTA0" content="4c 41 55 47 48 49 54 55 50 46 55 5a 5a 42 41 4c 4c">
	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="container box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<span class="navbar-brand logo">
									<img src="images/logo.png" alt=""> NTA 2014
								</span>

							</div>
							<div class="navbar-collapse collapse">

								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#header">Pradžia</a></li>
									<li><a href="#schedule">Programa</a></li>
									<li><a href="#faq">DUK</a></li>
									<li><a href="#partners">Rėmėjai</a></li>
									<li><a href="#register">Registracija</a></li>
                                    <li><a href="#speakers">Pranešimai</a></li>
									<li><a href="http://wiki.notrollsallowed.com/" class="external">Wiki</a></li>
									<li><a href="http://2013.notrollsallowed.com/" class="external">NTA 2013</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>No Trolls Allowed 2014</h1>
						</div>
					</div>
					<div class="row">
						<div class="blk">
							<input type="submit" value="Registracija" name="submit" id="goregister">
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/demo/bg-slide-01.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-02.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-03.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-04.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-05.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-06.jpg" alt=""/></li>
						<li><img src="images/demo/bg-slide-07.jpg" alt=""/></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
                {% block body %}{% endblock %}
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>

			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">
							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/NoTrollsAllowed" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/ntacamp" class="fa fa-twitter"></a></li>
							</ul>
						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
                                Visos teisės saugomos. © {{ "now"|date("Y") }}
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-41181062-1']);
            _gaq.push(['_setDomainName', 'notrollsallowed.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

	</body>
</html>
