{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
    <div class="page">
        <div class="container">
            {% block breadcrumb %}{% endblock %}
            <div class="row">
                <article class="col-md-10 col-md-offset-1">
                    {% block content %}{% endblock %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}

