{% block body %}
        <div class="container">
            <div class="row pull-right">
                Prisijungęs <a href="{{ path('user_profile') }}">{{ app.user}}</a>
            </div>
        </div>
    {% block content %}{% endblock %}
{% endblock %}
