{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
    <h1>{{ app.user.username }}</h1>

    Varototojo meniu
    <ul>
        <li><a href="#">Some user menu</a></li>
        <li><a href="#">Some user menu #2</a></li>
    </ul>
    {% block content %}{% endblock %}
{% endblock %}
