{% if (is_granted("ROLE_USER") and app.user.id == talk.user.id) or is_granted("ROLE_ADMIN") %}
    <span class="badge badge-{{ talk|talk_status_color }}">Status: {{ talk|talk_status }}</span>
{% endif %}
