{% extends 'EstinaHomeBundle::profile.html.twig' %}

{% block content -%}
    <h1>Talk edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
