{% extends 'EstinaHomeBundle::page.html.twig' %}

{% block content -%}
    <h1>Pranešimo redagavimas</h1>

    {{ form(edit_form) }}

    <a href="{{ url('user_profile') }}" class="navbar-btn btn">Atgal</a>
{% endblock %}
