{% extends 'EstinaHomeBundle::layout.html.twig' %}

{% block body -%}
    <h1>Register new talk</h1>
    {% include "EstinaHomeBundle::flash-messages.html.twig" %}
    {{ form(form) }}
</ul>
{% endblock %}
