{% extends 'EstinaHomeBundle::page-wide.html.twig' %}

{% block content -%}
<h1>Mano pranešimai</h1>

<div class="talk-group">
{% for talk in talks %}
    <div class="talk">
        <div class="row">
            <div class="col-md-10">
                <h3>
                    <a href="{{ path('talk', {id: talk.id}) }}">{{ talk.title }}</a>
                    {% include "EstinaHomeBundle:Talk:_controls.html.twig" with {'talk': talk} %}
                </h3>
                <p>Scena: <span class="badge badge-primary">{{ talk.track }}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="list-group-item-text">{{ talk.description|markdown }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
