<div class="talk-group">
{% for talk in talks %}
    <div class="talk">
        <div class="row">
            <div class="col-md-10">
                <h3>
                    <a href="{{ path('talk', {id: talk.id}) }}">{{ talk.title }}</a>

                    {% include "EstinaHomeBundle:Talk:_badges.html.twig" with {'talk': talk} %}
                    {% include "EstinaHomeBundle:Talk:_controls.html.twig" with {'talk': talk} %}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="list-group-item-text">{{ talk.description|markdown }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>