{% extends 'EstinaHomeBundle::page.html.twig' %}

{% block content -%}
<h2>Mano pranešimai</h2>


<ul>
{% for talk in talks %}
<li>
    <a href="{{ path('talk', {id: talk.id}) }}">{{ talk.title }}</a> ({{ talk.track }})
    <a href="{{ path('talk_edit', {id: talk.id}) }}">Redaguoti</a>
</li>
{% endfor %}
</ul>

{% endblock %}