{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Pranešimo registracija</h1>

    {#
    <p class="lead">
        <span class="label label-warning">Dėmesio!</span>
        Šiais metais turėsite galimybę iš anksto pasirinkti savo pranešimo pristatymo laiką, tad registracija sudaryta iš dviejų etapų.
    </p>
    <p>
        <strong>I etapo</strong> metu užregistruojate savo pranešimo temą, taip iš anksto rezervuodami sau vietą renginyje.<br>
        <strong>II etapo</strong> metu, iki renginio <strong>likus 2 savaitėm</strong>, turėsite patvirtinti savo dalyvavimą įkeldami 
        savo prezentaciją (ar dalį jos) ir pasirinkdami savo pranešimo pristatymo laiką.
    </p>
    #}

    <hr>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div id="estina_bundle_homebundle_registertalk">
            <div>
                <div id="estina_bundle_homebundle_registertalk_user">
                    <div class="form-group">
                        <label for="estina_bundle_homebundle_registertalk_user_name" class="required">Vardas/Pavardė</label>
                        <input type="text" class="form-control" id="estina_bundle_homebundle_registertalk_user_name" name="estina_bundle_homebundle_registertalk[user][name]" required="required">
                    </div>
                    <div class="form-group">
                        <label for="estina_bundle_homebundle_registertalk_user_email" class="required">El. Paštas</label>
                        <input type="email" class="form-control" id="estina_bundle_homebundle_registertalk_user_email" name="estina_bundle_homebundle_registertalk[user][email]" required="required">
                    </div>
                    <div class="form-group">
                        <label for="estina_bundle_homebundle_registertalk_user_phone" class="required">Telefonas</label>
                        <input type="text" class="form-control" id="estina_bundle_homebundle_registertalk_user_phone" name="estina_bundle_homebundle_registertalk[user][phone]" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="estina_bundle_homebundle_registertalk_title" class="required">Pranešimas</label>
                <input type="text" class="form-control" id="estina_bundle_homebundle_registertalk_title" name="estina_bundle_homebundle_registertalk[title]" required="required">
            </div>
            <div class="form-group">
                <label for="estina_bundle_homebundle_registertalk_description" class="required">Pranešimo aprašymas (Markdown)</label>
                <textarea  class="form-control" id="estina_bundle_homebundle_registertalk_description" name="estina_bundle_homebundle_registertalk[description]" required="required"></textarea>
            </div>
            <div class="form-group">
                <label for="estina_bundle_homebundle_registertalk_track" class="required">Scena</label>
                <select class="form-control" id="estina_bundle_homebundle_registertalk_track" name="estina_bundle_homebundle_registertalk[track]"></select>
            </div>
            <div>
                <button type="submit" id="estina_bundle_homebundle_registertalk_submit" name="estina_bundle_homebundle_registertalk[submit]" class="btn btn-info btn-register">Registruotis</button>
            </div>
            <input type="hidden" id="estina_bundle_homebundle_registertalk__token" name="estina_bundle_homebundle_registertalk[_token]" value="Lh7Eiw7RUh7HOdO3oGTIBRjaYekZzlSAVtyYvTlo8DA">
        </div>
    {{ form_end(form) }}
</ul>
{% endblock %}
