{% extends 'EstinaHomeBundle::page.html.twig' %}

{% block content -%}
    <h1>Pranešimas sėkmingai užregistruotas</h1>
    <p>Sveikiname!</p>

    <p>
        Jūsų panešimas buvo sėkmingai užregistruotas. Netrukus jis bus
        peržiūrėtas administratorių ir patvirtintas. Patvirtinus pranešimą,
        gausite apie tai informuojantį elektroninį laišką. Būkite kantrūs :-)
    </p>

    <p>
        Norėdami peržiūrėti pranešimo statusą ar keisti jo aprašymą,
        <a href="{{ path('login_route') }}">prisijunkite</a> 
        prie sistemos. Jeigu neturite slaptažodžio, gausite užpildę
        <a href="{{ path('user_password_reset') }}">priminimo formą</a>.
    </p>

    <p>
        Jei turite klausimų, rašykite 
        <a href="mailto:{{ admin_email }}">{{ admin_email }}</a>.
    </p>
</ul>
{% endblock %}
