{% extends 'EstinaHomeBundle::layout.html.twig' %}

{% block body -%}
    <h1>Pranešimas sėkmingai užregistruotas</h1>
    Sveikiname!

    Jūsų panešimas buvo sėkmingai užregistruotas.
</ul>
{% endblock %}

