{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content  %}
<h1>APIE RENGINĮ</h1>

    <p> No Trolls Allowed - po atviru dangumi vykstantis renginys, siekiantis suburti
        įvairių pomėgių turinčius žmones. Čia laukiami progamuotojai, įvairaus plauko geek'ai,
        mokslininkai, konstruktoriai, artistai, menininkai ir kitų sričių specialistai,
        galintys ir norintys pasidalinti savo žiniomis. Norite sudalyvauti? Pasiimkite
        savo šeimyną, maisto, gėrimų, bei palapinę viskam sutalpinti ir atvažiuokite!</p>

    <p>Pagrindinė renginio mintis:</p>

    <blockquote>
        <p>Kiekvienas dalyvis turi paruošti pranešimą bet kokia tema, kuri, jo manymu,
            būtų įdomi kitiems.</p>
    </blockquote>
    <h2>Ką pasiimti su savimi?</h2>
    <p>Renginys vyks po atviru dangumi, tad nepamirškite tinkamai pasiruošti
        išgyvenimui. Siūlome pasiimti:</p>
    <ul>
        <li>Palapinę, miegmaišį ir kitus jūsų patogiam poilsiui reikalingus dalykus.</li>
        <li>Sulankstomų kėdžių arba kilimėlių pranešimų klausymui.</li>
        <li>Kompiuterį.</li>
        <li>Prailgintuvą (netgi ne vieną).</li>
        <li>Maršrutizatorių, jei galvojate, kad jums jo gali prireikti, pvz. organizuosite
            kokias nors dirbtuves ar norėsite pažaisti tinkle.</li>
        <li>Greitai negendančio maisto, gėrimų ir maisto ruošimo, bei saugojimo priemonių
            (šašlykinę, indų, šaltkrepšį). Rekomenduojama nesivežti stiklinės taros, nes
            nepatogu rinkti šukes iš pievos.</li>
        <li>Malkų.</li>
        <li>Maišų šiukšlėms sudėti.</li>
        <li>Aprangą tinkamą prognozuojamam orui (lietpaltis ir botai niekada nepamaišė).</li>
        <li>Priemonių, atbaidančių vabzdžius ir kitus kenkėjus.</li>
        <li>Žaidimų laisvalaikio praleidimui (galit ir kompiuterinių).</li>
        <li>Gerą nuotaiką.</li>
    </ul>
    </div>
{% endblock %}
