{% extends "EstinaHomeBundle::page-wide.html.twig" %}

{% block content %}
<div class="about-page">
		
    <h1>About No Trolls Allowed hackercamp</h1>

	<div class="hacker">
		<h4>hacker</h4>
		<strong>/ˈhakə/</strong>

		<p>
			<small>noun</small><br>
			<small>noun: <strong>hacker</strong>; plural noun: <strong>hackers</strong></small>
		</p>

		<ol>
			<li class="strike">a person who uses computers to gain unauthorized access to data.</li>
			<li>a person who uses nonconventional methods or tools to achieve something awesome.</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
		    <p><strong>No Trolls Allowed</strong> is an open-air festival of hobby, arts, and technology that invites hackers of all natures. Imagine hundreds of passioned people gathering in the nature to share their knowledge and their joy of discovery.</p>
			
			<p>
				<img src="/images/professions.png" alt="Professions">
			</p>
		    

		    <p>The camp is free in all the senses of the word: as in a free beer, and as in freedom of speech. However, as the name suggests we aren't very fond of trolls there. That means you have to bring something in and your ticket to the camp is your participation. The form of participation is totally up to you:
		    </p>

		    <ul>
		    	<li>The main and easiest way is to make a presentation in any form. Presentations are the nail of the camp and happen for entire two/three days in four stages on site. You'll have an opportunity to choose the most convenient time and stage for you if it's not taken already. Just remember, you are here to share your passion and awesome things you know. We prefer you won't talk about boring job stuff you do every day and definitely no commercial presentations.</li>
		    	<li>Do a workshop. You can do a workshop of any kind, starting from artsy like drawing lessons or karate practice to techy rockets, genetically engineered monsters, and space dogs. We would like you to go nuts here. And if you need some help, space, or equipment - just let us know.</li>
		    	<li>Join our awesome Crew as a volunteer. There are many awesome perks you receive beeing a volunteer, but you know that with the power also comes responsibility. More information on that is <a href="http://blog.notrollsallowed.com/post/160942916809/volunteer-nta2017" target="_blank">on this blog post</a></li>
		    </ul>

		    <p>If you wonder if the camp invites international crowd as well, no worries. We are a global community and open to those who want to give a presentation or workshop in any language (of course English is preferred). While there will be plenty of presentations in Lithuanian which may pose a challenge if you are not good at it. Although as our experience show - it is easy for most, if not all, to switch over to English for Q&A, or at least for a discussion.</p>

			<p>A <a href="{{ path('talk_register') }}">registration form</a> is currently only in Lithuanian, but it shouldn't be hard to follow - name, email address, subject and an intro. Never gets easier than writing an email, or if you feel inclined - you can reach out at <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>.</p>


		</div>
	</div>



</div>
{% endblock %}
