{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content  %}
    <h1>Apie <em>hacker camp</em></h1>

    <p>No Trolls Allowed - po atviru dangumi vykstantis renginys, siekiantis suburti
        įvairių pomėgių turinčius žmones. Čia laukiami progamuotojai, įvairaus plauko geek'ai,
        mokslininkai, konstruktoriai, artistai, menininkai ir kitų sričių specialistai,
        galintys ir norintys pasidalinti savo žiniomis. Norite sudalyvauti? Pasiimkite
        savo šeimyną, maisto, gėrimų, bei palapinę viskam sutalpinti ir atvažiuokite!</p>


    <h2>Kaip viskas prasidėjo?</h2>
    <p>
        Vėlyvą 2013-ųjų metų pavasarį, būrys bendraminčių sugalvojo, kad
        vasaros metu būtų smagu susirinkti kur nors gamtoje. O kad praleistas
        laikas būtų naudingesnis, paruošti ir pristatyti vienas kitam
        pranešimus. Tuo pačiu pagalvojo, kad būtų smagu neapsiriboti vien
        tik sava kompanija ir pakviesti daugiau žmonių. Bet kaip užtikrinti,
        kad nesusirinks vien tik klausytojai? Kaip pritraukti daugiau
        pranešėjų? Taip ir buvo sugalvota pagrindinė renginio taisyklė:
    </p>

    <h3>Pagrindinė renginio taisyklė</h3>
    <blockquote>
        <p>Kiekvienas dalyvis turi paruošti pranešimą bet kokia tema, kuri, jo
        manymu, būtų įdomi kitiems.</p>
    </blockquote>

    <h2>No Trolls Allowed 2013</h2>
    <p>
        Patvirtinus renginio formatą buvo imtasi darbų: kuriamas puslapis
        registracijai, ieškoma tinkanti vieta, rėmėjai, skleidžiama informacija
        ir kviečiami dalyviai. Galiausiai renginys įvyko! Festivalio dalyviai
        okupavo Molėtuose esančio Lenktinio ežero pakrantę, įsirengė palapinyną
        bei iš savo susivežtos įrangos sukonstravo dvi scenas. Nors oras
        nebuvo daug žadantis, tie, kurie išdrįso atvykti - nepasigailėjo. Per
        porą festivalio dienų 70 dalyvių spėjo pristatyti 38 pranešimus,
        išsivirti alaus bei sriubos, pabendrauti, pasidalinti patirtimi ir,
        žinoma, puikiai praleisti laiką. Didžiulis pasisekimas ir puikūs
        dalyvių atsiliepimai vertė galvoti apie ateinančius metus.
    </p>

    <h2>No Trolls Allowed 2014</h2>
    <p>
        Šį kartą pasiruošti renginiui buvo daugiau laiko. Parinkta vieta leido
        sutalpinti didesnį dalyvių kiekį. Žinia apie renginį skriejo iš lūpų į
        lūpas, tad ir dalyvių susirinko daugiau. Iš viso 2014-ųjų metų
        renginyje spėjo pabūvoti apie 300 žmonių. O pranešimų skaičius viršijo
        visą 100! Negana to, vyko litavimo, programavimo, LEGO robotų kūrimo,
        stalo žaidimų ir kitos dirbtuvės. Buvo visko - rimtų diskusijų, nerimtų
        pokalbių, dainų, laužų, maudynių ir šašlykų.
    </p>

    <h2>No Trolls Allowed 2015</h2>
    <p>
        NTA tapo tikru hackercamp'u.
    </p>

    <h2>No Trolls Allowed 2017</h2>
    <p>Po puikiai pavykusių pirmųjų trijų renginių, nekilo jokių abejonių, kad
       No Trolls Allowed 2017 taip pat įvyks! Sudalyvauk ir tu, ir padaryk
       renginį dar geresniu!
    </p>

{% endblock %}
