{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content  %}
    <h1>About hacker camp</h1>

    <p>No Trolls Allowed is an outdoors gathering that invites hackers of all natures to share their knowledge and they joy of discovery. If you are reading this, you may wonder whereas it is only website, or does the event invite English speakers as well. Fear no more - No Trolls Allowed is, indeed, open to those who want to give a presentation in English language. While there will be a great deal of presentations in Lithuanian which may pose a challenge if you are not good at it (though it's a learning opportunity!) and so it may be hard to follow, but as our experience show - it is easy for most, if not all, to switch over to English for Q&A, or at least for a discussion.</p>
    <p>To help the organisers - you shall indicate on the <a href="{{ path('talk_register') }}">registration form</a> that you will be giving your presentation in English and we will do our best to help you out. The registration is currently only in Lithuanian, but it shouldn't be hard to follow - name, email address, subject and an intro. Never gets easier than writing an email, or if you feel inclined - you can reach out at <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>.</p>
    <p>Event is free in all the senses of the word: as in a free beer, and as in freedom of speech. But whoever wants to participate should register and prepare their presentation - it is your ticket to the most inspiring and intelligent open-air gathering. And just to reiterate, if you fear something (fear no more), if you have questions (we have answers), or just want to get in touch - we are here, at <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>, ready to help you out.</p>
{% endblock %}
