{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content  %}
    <h1>About No Trolls Allowed hacker camp</h1>

    <p>Powerful you have become, the dark side I sense in you...</p>
{% endblock %}
