{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
<h1>D.U.K.</h1>
<h3><em>Dažniausiai užduodami klausimai</em></h3>

<ul>
    <li><a href="#ka-reiskia">Ką reiškia pavadinimas "No Trolls Allowed"?</a></li>
    <li><a href="#kas-yra-trolis">Kas yra trolis?</a></li>
    <li><a href="#kiek-kainuoja-bilietas">Kiek kainuoja bilietas?</a></li>
    <li><a href="#kokios-galimos-pranesimu-temos">Kokios galimos pranešimo temos?</a></li>
    <li><a href="#kokia-turi-buti-pransimo-trukme">Kokia turi būti pranešimo trukmė?</a></li>
    <li><a href="#ar-pranesimas-turi-buti-susijes-su-programavimu">Ar pranešimas turi būti susijęs su programavimu?</a></li>
    <li><a href="#ar-galima-atsivezti-seimyna">Ar galima atsivežti šeimyną?</a></li>
    <li><a href="#ar-seimyna-irgi-privales-ruosti-pranesimus">Ar šeimyna irgi privalės ruošti pranešimus?</a></li>
    <li><a href="#ar-bus-internetas">Ar bus internetas?</a></li>
    <li><a href="#ar-bus-elektra">Ar bus elektra?</a></li>
    <li><a href="#ar-bus-projektorius">Ar bus projektorius?</a></li>
    <li><a href="#ar-reikia-tureti-savo-kompiuteri">Ar reikia turėti savo kompiuterį?</a></li>
    <li><a href="#kokius-daiktus-atsivezti">Kokius daiktus atsivežti?</a></li>
    <li><a href="#kaip-atvykti">Kaip atvykti?</a></li>
    <li><a href="#kas-organizuoja-si-rengini">Kas organizuoja šį renginį?</a></li>
    <li><a href="#turite-daugiau-klausimu">Turite daugiau klausimų?</a></li>
</ul>

<hr>

<h2 id="ka-reiskia">Ką reiškia pavadinimas "No Trolls Allowed"?</h2>
<p>Pavadinimas atspindi renginio pagrindinę mintį. Jokių trolių. Tik žmonės, kurie nori pasidalinti savo žiniomis ir pasisemti idėjų iš kitų.</p>

<h2 id="kas-yra-trolis">Kas yra trolis?</h2>
<p>Trolis yra mitologinė būtybė, tačiau čia omenyje turime internetinį trolį. Ištrauka iš <a href="http://lt.wikipedia.org/wiki/Trolis_(internete)">Wikipedia</a>:
    <blockquote>Internete troliu vadinamas asmuo, kuris prisijungia prie susiformavusios bendruomenės, pvz., naujienų grupės ir skelbia kurstančias, grubias arba įžeidžiančias žinutes, siekdamas išprovokuoti kitus bendruomenės narius bei nutraukti normalią diskusijų eigą, sąmoningai sutrikdyti bendruomenės veiklą, sukiršinti jos narius. Tokie pasisakymai, pranešimai dar kitaip vadinami Troll, Troll-Post arba Troll-Posting.</blockquote>
</p>

<h2 id="kiek-kainuoja-bilietas">Kiek kainuoja bilietas?</h2>
<p>Suvažiavimas dalyviams yra nemokamas, vienintelė dalyvavimo sąlyga - privalomas pranešimas. Tai tam tikra apsauga nuo trolių, siekiant, kad renginyje būtų ne tik klausytojai, bet ir pranešėjai.</p>

<h2 id="kokios-galimos-pranesimu-temos">Kokios galimos pranešimo temos?</h2>
<p>Temos gali būti kuo įvairiausios: nuo maisto ruošimo iki telepatinių metodų alaus butelių atidarymui. Rinkdamiesi pranešimo temą galvokite apie auditoriją. Ji gali būti labai įvairi. Nepamirškite, kad gali būti žmonių, kurie nedirba IT srityje. Žinoma, tai nereiškia, kad negalite ruošti techninių pranešimų, tačiau pasistenkite neapsiriboti tuo. Jei manote, kad neturite ką papasakoti, tikriausiai pamiršot, jog ką žinote jūs - nebūtinai žino ir visi kiti. Vienintelis prašymas: nepristatinėkit verslo idėjų, savo startupų ar komercinių pranešimų - renginys skirtas ne tam.</p>

<h2 id="kokia-turi-buti-pransimo-trukme">Kokia turi būti pranešimo trukmė?</h2>
<p>Pranešimui pristatyti skiriama 20 minučių + 10 minučių klausytojų klausimams ir diskusijoms.</p>

<h2 id="ar-pranesimas-turi-buti-susijes-su-programavimu">Ar pranešimas turi būti susijęs su programavimu?</h2>
<p>Ne. Pranešimas neprivalo būti susijęs su programavimu. Netgi rekomenduojama neapsiriboti siaura sritimi. Pavyzdžiui nerekomenduojama tema būtų konkrečios programavimo kalbos naujos versijos galimybės, nes tema bus aktuali palyginti siauram dalyvių ratui.</p>

<h2 id="ar-galima-atsivezti-seimyna">Ar galima atsivežti šeimyną?</h2>
<p>Netgi rekomenduojama! Pranešėjui leidžiama atsivežti šeimą arba vieną draugą. Apie renginį galvokite taip, kad lyg važiuotumėte į išvyką prie ežero. Žinoma, jei jūsų šeimos narys turi keturias kojas ir aštrius dantis, pasirūpinkite, kad kiti dalyviai galėtų jaustis patogiai.</p>

<h2 id="ar-seimyna-irgi-privales-ruosti-pranesimus">Ar šeimyna irgi privalės ruošti pranešimus?</h2>
<p>Būtų labai gerai, tačiau šiuo atveju galima padaryti išimtį. Jūsų šeimos nariams nereikės ruošti pristatymų.</p>

<h2 id="ar-bus-internetas">Ar bus internetas?</h2>
<p>Viešos interneto prieigos nebus. Jei norite organizuoti dirbtuves, kurioms reikės vietinio tinklo, pasiimkite maršrutizatorių.</p>

<h2 id="ar-bus-elektra">Ar bus elektra?</h2>
<p>Taip, elektra bus. Nepamirškite pasirūpinti ilgesniais prailgintuvais.</p>

<h2 id="ar-bus-projektorius">Ar bus projektorius?</h2>
<p>Taip. Kiekviena pranešimų scena bus aprūpinta projektoriumi.</p>

<h2 id="ar-reikia-tureti-savo-kompiuteri">Ar reikia turėti savo kompiuterį?</h2>
<p>Priklauso nuo jūsų pranešimo pobūdžio. Jeigu norėsit rodyti tik skaidres
    ir nenorit vežtis kompiuterio - jokių problemų, PDF ir PPS (Power Point) prezentacijas bus kaip parodyti.</p>

<h2 id="kokius-daiktus-atsivezti">Kokius daiktus atsivežti?</h2>
<p>Renginys vyks po atviru dangumi, tad nepamirškite tinkamai pasiruošti išgyvenimui. Siūlome pasiimti:</p>
<ul>
    <li>Palapinę, miegmaišį ir kitus jūsų patogiam poilsiui reikalingus dalykus.</li>
    <li>Kompiuterį ir visus turimus gadget'us (taip, tai tas renginys, kur važiuojant į gamtą nereikia palikti kompiuterio namie).</li>
    <li>Prailgintuvą (netgi ne vieną).</li>
    <li>Maršrutizatorių, jei galvojate, kad jums jo gali prireikti, pvz. organizuosite kokias nors dirbtuves ar norėsite pažaisti tinkle.</li>
    <li>Greitai negendančio maisto, gėrimų ir maisto ruošimo, bei saugojimo priemonių (šašlykinę, indų, šaltkrepšį). Rekomenduojama nesivežti stiklinės taros, nes nepatogu rinkti šukes iš pievos.</li>
    <li>Malkų ir kepsninę.</li>
    <li>Maišų šiukšlėms sudėti.</li>
    <li>Aprangą tinkamą prognozuojamam orui (lietpaltis ir botai niekada nepamaišė).</li>
    <li>Priemonių, atbaidančių vabzdžius ir kitus kenkėjus (ne žmones).</li>
    <li>Žaidimų laisvalaikio praleidimui (galit ir kompiuterinių).</li>
</ul>

<h2 id="kaip-atvykti">Kaip atvykti?</h2>
<p>Renginys vyks stovyklavietėje "Verubė", esančioje 10km nuo Trakų.<br>
    Vietos koordinatės: <strong>54.656948, 24.982314.</strong><br>
    Tikslesnė informacija pasirodys netrukus.
</p>
<h2 id="kas-organizuoja-si-rengini">Kas organizuoja šį renginį?</h2>
<p>No Trolls Allowed organizuoja visi dalyvaujantys. O, kad dalyviai vienu metu
    susirinktų toje pačioje vietoje, rūpinasi ne pelno siekianti organizacija 
    <a href="http://usergroups.lt/">VšĮ "Programuotojai"</a>.
    <br>
    Įmonės kodas: 303307623. <br>
    Adresas: J. Galvydžio g. 5, LT-08236 Vilnius.
</p>

<h2 id="turite-daugiau-klausimu">Turite daugiau klausimų?</h2>
<p>Turite daugiau klausimų? O gal norite kažką pasiūlyti, parekomenduoti ar prisidėti prie renginio organizavimo? Rašykite mums <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>.</p>

{% endblock %}
