.fixed .navbar-brand.logo > img {
    max-height: 88px;
    margin-top: -25px;
    margin-left: -35px;
}

.sticky .navbar-brand.logo > img {
    margin-left: -35px;
    margin-top: -5px;
}

#partners ul {
    list-style: none;
    padding: 0px;
}

#partners ul li {
    text-align: center;
    padding: 15px;
    display: table;
}

#partners ul li div {
    background: #efefef;
    border-radius: 5px;
    width: 255px;
    height: 120px;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
}

#partners ul li img {
    margin: auto;
    display: block;
}
