{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<form action="{{ path('user_password_reset') }}" method="post">

    {{ form_row(resetForm.email) }}
    {{ form_rest(resetForm) }}

    <button type="submit">reset</button>
</form>
{% endblock %}
