{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Password reset</h1>
    <p>We couldn't deliver new password to the email you have registered. <br>Please try again.<br> If problem persists - please <a href="mailto:hi@notrollsallowed.com">let us know</a>.</p>
{% endblock %}