{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
<h1>Password reset</h1>
<form action="{{ path('user_password_reset') }}" method="post">

    {{ form_row(resetForm.email, {'label':'E-mail'}) }}
    {{ form_rest(resetForm) }}

    <button type="submit" class="btn btn-info">Reset</button>
</form>
{% endblock %}
