{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
<form action="{{ path('user_password_reset') }}" method="post">

    {{ form_row(resetForm.email, {'label':'Įveskite savo el.pašto adresą'}) }}
    {{ form_rest(resetForm) }}

    <button type="submit">Priminti</button>
</form>
{% endblock %}
