{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Slaptažodžio priminimas</h1>
    <p>Nepavyko išsiusti slaptažodžio nurodytu el.paštu. Bandyk dar kartą, o jeigu nepavyksta, rašyk <a href="mailto:hi@notrollsallowed.com">el.paštu</a>.</p>
{% endblock %}