{% extends 'EstinaHomeBundle::page.html.twig' %}

{% block content -%}
    <h1>{{ 'user.edit.main.header'|trans }}</h1>

    {{ form(edit_form) }}

    <a href="{{ path('user_profile') }}" class="navbar-btn btn">Back</a>
{% endblock %}
