{% extends 'EstinaHomeBundle::page-wide.html.twig' %}

{% block content %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ render(controller('EstinaHomeBundle:Admin:stats'))}}
    {% endif %}
    <h1>My talks</h1>
    {{ render(controller('EstinaHomeBundle:Talk:personalTalks'))}}
{% endblock %}

